server {
  listen       80;
  server_name  {{ LANDINGPAGE_SERVER_NAME }};

  location / {
    root {{ LANDINGPAGE_INSTALL_PATH }};
  }
}

server {
  listen       80;
  server_name  www.{{ LANDINGPAGE_SERVER_NAME }};
  return       301 http://yomypopcorn.com$request_uri;
}
