server {
  listen       80;
  server_name  yomypopcorn.com;

  location / {
    root /var/www/landingpage;
  }
}

server {
  listen       80;
  server_name  www.yomypopcorn.com;
  return       301 http://yomypopcorn.com$request_uri;
}
