[Unit]
Description=YOMYPOPCORN Dispatcher

[Service]
Type=simple
Restart=always
WatchdogSec=14400
Environment="YO_APIKEY={{YO_APIKEY}}"
ExecStart={{ DISPATCHER_INSTALL_PATH }}/bin/cli.js --debug info
