[Unit]
Description=YOMYPOPCORN Dispatcher

[Service]
Environment="YO_APIKEY={{YO_APIKEY}}"
Restart=always
ExecStart={{ DISPATCHER_INSTALL_PATH }}/bin/cli.js --debug info
User={{ YMPC_USER }}
Group={{ YMPC_USER }}
